body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}
.i-container {
    width: 90%;
    margin: 100px auto 100px auto;
    min-height: 300px;
}

.image-container{
    margin-top:15px;
}

input[type=radio] {
    margin: 0 10px;
}

.image-preview img {
    width: auto;
    max-width: 100%;
    max-height: 333px;
}
.image-preview {
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 10px 0;
    text-align: center;
}
input.input {
    width: 100%;
    margin-top: 7px;
}

#copyButton {
    margin-top: 10px;
}

.page-footer {
    margin: 70px auto;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    max-width: 700px;
    width: 100%;
    padding: 0 15px;
}

.page-footer span.creator {
    float: right;
}

h3, p {
    text-align: center;
}

input#images {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 19;
    cursor: pointer;
}

.uploading {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.uploading div {
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
}

.upload-select {
    height: 100px;
    text-align: center;
    font-family: 'Open Sans';
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.uploading div img {
    max-width: 100px;
    max-height: 100px;
}

.uploading div.col-sm-12 {
    padding: 15px 30px;
}

.uploading div.col-sm-12 {
    padding: 15px 30px;
}

.upload-button {
    cursor: pointer;
    background: #5c67cb !important;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    margin-top: -15px !important;
    border-radius: 0 0 15px 15px !important;
    transition: background 0.3s ease;
}

.uploading .upload-select.ready {
    border-radius: 15px 15px 0 0 !important;
}

.upload-button:hover {
    background: #434c9f !important;
}

.form-inner {
    max-width: 450px;
    margin: 0 auto;
}

.upload-select span {
    line-height: 100px;
}

.upload-select:hover {
    background: #ebebeb;
}

.paste-area textarea {
    width: 100%;
    background: transparent;
    border: none;
    color: transparent;
    resize: none;
}

.paste-area textarea:focus {
    border: none;
    outline: 0;
}

.paste-area:focus-within {
    background: #f3f3f3;
    border: 1px solid #323c71;
}

.paste-area textarea::selection {
    color: transparent;
    background: transparent;
    text-decoration: none;
}

.paste-text {
    margin: 0 !important;
    border-radius: 0 !important;
    background: none !important;
    border: none !important;
    margin-bottom: -41px !important;
    text-align: center;
    font-weight: 100;
    font-family: 'Open Sans';
}